/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lato:wght@300&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color:white;
    font-family: "Lato", sans-serif;
    font-size: x-large;
}

h1 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: white;
    font-size: large;
}

h2, h3 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    font-size: x-large;
}

/* Header */
header {
    background-color: rgb(125, 85, 85);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 1px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid white;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color:rgb(125, 85, 85);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px white;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: rgb(125, 85, 85);
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}
.hidden-heading {
    display: none;
}

/* Wood section */
.wood {
    height: 100%;
    width: 100%;
    position: relative;
}
#cover-text {
    background-color:rgba(255, 127, 80, .6);
        font-size: 150%;
        position:sticky;
        bottom: 30px;
        width: 85%;
        min-height: 180px;
        padding-top: 10px;
        padding-left: 10px;
}
#cover-text > h2, #cover-text > h3{
    color:white;
}
/* Gallery */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}
/* Footer */
.container {
    background-color: green;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    height: 70px;
    width: 70px;
    background-color: #caf7e3;
    border-radius: 35px;
    text-align: center;
    margin: 7px;
    line-height: 80px;
}

a i {
    transition: all 0.3s linear;
}

a:hover i {
    transform: scale(1.5);
}

.youtube:hover {
    color: red;
}

.facebook:hover {
    color: blue;
}

.instagram:hover {
    color: #e11d74;
}

.twitter:hover {
    color: #00adb5;
}

.github:hover {
    color: black;
}

.linkedin:hover {
    color: #04009a;
}

/* Media query: larger or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 180%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }
#cover-text {
    width: 300px;
    right: 50px;
}

/* Style inputs, select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button */
input[type=submit] {
    background-color: coral;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* Style the container */
.container {
    border-radius: 5px;
    background-color: rgb(125, 85, 85);
    padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid beige;
    }
/* Gallery */
#photos {
    column-count: 4;

}
}
}
