/* Asterisk wildcard selector to override default style added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a
}
/* Header */
header {
    background-color: mediumblue
}

/* Main content */
main {
    background-color: gray;
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: brown;
}